<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <section id="admin" class="admin_usuarios">
        <div class="row gx-0">
            <div class="col-3" id="sidebar">
                <h5>Menú Principal</h5>
                <a href="admin_usuarios.html" class="link">Usuarios</a>
                <a href="admin_pedidos.html" class="link">Pedidos</a>
                <a href="admin_productos.html" class="link">Productos</a>
                <a href="admin_categorias.html" class="link">Categorias</a>
                <a href="admin_informes.html" class="link">Informes</a>
                <a href="admin_auditoria.html" class="link">Auditoría</a>
                <a href="admin_configuracion_html" class="link">Configuración</a>
                <a href="admin_cerrar_sesion.html" class="link cerrar_sesion">Cerrar sesión</a>
            </div>
            <div class="col-9" id="contenido">
                <p class="title"><b>Checkout</b>Express </p>
                <p class="subtitle">Gestión de pedidos</p>
                <div class="row align-items-center" id="search_bar">
                    <div class="col-md-7 d-flex ">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar...">
                        <button class="search btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha creación</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">0001</th>
                        <td>gonzalezcjulian@gmail.com</td>
                        <td>11/10/2023</td>
                        <td><i class="fa-solid fa-circle text-success"></i></td>
                        <td><i class="fa-solid fa-circle-check text-danger"></i></td>
                        <td>
                            <button class="btn btn-success"><i class="fa-solid fa-pen"></i>Editar</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Borrar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">0001</th>
                        <td>gonzalezcjulian@gmail.com</td>
                        <td>11/10/2023</td>
                        <td><i class="fa-solid fa-circle text-success"></i></td>
                        <td><i class="fa-solid fa-circle-check text-danger"></i></td>
                        <td>
                            <button class="btn btn-success"><i class="fa-solid fa-pen"></i>Editar</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Borrar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">0001</th>
                        <td>gonzalezcjulian@gmail.com</td>
                        <td>11/10/2023</td>
                        <td><i class="fa-solid fa-circle text-success"></i></td>
                        <td><i class="fa-solid fa-circle-check text-danger"></i></td>
                        <td>
                            <button class="btn btn-success"><i class="fa-solid fa-pen"></i>Editar</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Borrar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">0001</th>
                        <td>gonzalezcjulian@gmail.com</td>
                        <td>11/10/2023</td>
                        <td><i class="fa-solid fa-circle text-success"></i></td>
                        <td><i class="fa-solid fa-circle-check text-danger"></i></td>
                        <td>
                            <button class="btn btn-success"><i class="fa-solid fa-pen"></i>Editar</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Borrar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
</body>
</html>