<%- include("./partials/head.ejs") %> 
<body>
    <section id="admin" class="admin_usuarios">
        <div class="row gx-0">
            <%- include('./partials/admin_sidebar') %>
            <div class="col-9" id="contenido">
                <p class="title"><b>Checkout</b>Express </p>
                <p class="subtitle">Gestión de usuarios</p>
                <div class="row justify-content-center align-items-center" id="search_bar">
                    <div class="col-md-2">
                        <button class="btn btn-primary px-4"><i class="fa-solid fa-plus"></i> Nuevo</button>
                    </div>
                    <div class="col-md-7 d-flex ">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar...">
                        <button class="search btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">gonzalezcjulian@gmail.com</th>
                        <td>Julian Gonzalez</td>
                        <td>Activo</td>
                        <td>
                            <button class="btn btn-success"><i class="fa-solid fa-pen"></i>Editar</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Borrar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">juan.perez@yahoo.com.ar</th>
                        <td>Juan Perez</td>
                        <td>Bloqueado</td>
                        <td>
                            <button class="btn btn-success"><i class="fa-solid fa-pen"></i>Editar</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Borrar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">alumno@uai.edu.ar</th>
                        <td>Alumno UAI</td>
                        <td>Activo</td>
                        <td>
                            <button class="btn btn-success"><i class="fa-solid fa-pen"></i>Editar</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Borrar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">alumno@uai.edu.ar</th>
                        <td>Alumno UAI</td>
                        <td>Activo</td>
                        <td>
                            <button class="btn btn-success"><i class="fa-solid fa-pen"></i>Editar</button>
                            <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>Borrar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
</body>
</html>