<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section id="admin_menu">
        <div class="row gx-0">
            <div class="col-3" id="sidebar">
                <h5>Menú Principal</h5>
                <a href="" class="link">Usuarios</a>
                <a href="" class="link">Pedidos</a>
                <a href="" class="link">Productos</a>
                <a href="" class="link">Categorías</a>
                <a href="" class="link">Informes</a>
                <a href="" class="link">Auditoría</a>
                <a href="" class="link">Configuración</a>
                <a href="" class="link cerrar_sesion">Cerrar sesión</a>
            </div>
            <div class="col-9" id="contenido">

                <p class="title"><b>Checkout</b>Express </p>
                <div class="row gx-5 px-3">
                    <div class="col-md-3">
                        <button class="btn w-100 btn-primary">
                            Ventas Totales hoy:<br>20 
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn w-100 btn-info">
                            Productos Activos:<br>1050
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn w-100 btn-warning">
                            Usuarios Activos:<br>2000
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn w-100 btn-success">
                            Productos con bajo Stock:<br>10
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>